.lavaLampWithImage li.current_page_item a span.jq-shadow { display:none; }

#top-search input#top-s { top:8px; }

#image-gallery-wrapper {
	margin-top:-3px;
	padding-top:4px;
}

.widget-bottom { margin-bottom:-5px; }

