#posts .post .pinfo li.liright div {
	display:table-cell;
	vertical-align:middle;
	position:static;
}
#posts .post .pinfo li.liright div {
	position:absolute;
	top:50%; }
#posts .post .pinfo li.liright div div {
	position:relative;
	top:-50%;
}
body { margin:0px 0px 30px 0px; } 

#rside .searchbox .searchformtop {
	font: normal 14px Verdana, Helvetica, sans-serif;
	border:none;
	background: url(images/searchformtop.png) no-repeat top right;
	overflow:hidden;
	color:#999;
	margin:0px;
	float:left;
	width:222px;
	height:22px;
	padding:6px 5px 0px 10px;
}