<input id="menu-switch" type="checkbox"/>
<label for="menu-switch" id="menu-toggle" class="z-9999 ml2 mt2 ml4-ns mt4-ns z-999"></label>
<nav id="menu" role="navigation" class="z-999">
  <a class="db link lh-solid f-headline fw9 light-gray" href="/#home"><img class="" src="/images/FineArtLogo-white.png"></a>
  <ul class="list"> 
    {{ $currentNode := . }}
    {{ range .Site.Menus.main }}
    <li class=""><a href="{{.URL}}" class="{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}active{{end}}">{{.Name}}</a></li>
    {{ end }}
  </ul>
</nav>
  
