
<div class="modal-container">
<input id="modal-toggle" type="checkbox">
<button>Click me</button>
  <div class="modal-backdrop">
    <div class="modal-content pa5 bg-black-80">
      <label class="modal-close" for="modal-toggle">x</label>
      <div id="search-box" class="">
      <!-- SearchBox widget will appear here -->
      </div>

      <div id="hits" class="black">
      <!-- Hits widget will appear here -->
      </div>
      <label class="modal-close button" for="modal-toggle">Close</label>
    </div>
  </div>
</div>

