{{ define "main" }}
  <script type="text/javascript">
    new WOW().init();
  </script>

  <section id="home" class="relative flex items-center justify-center vh-100 w-100 bg-top cover lh-solid white" style="background-image: url('{{ .Params.image }}')">
    <div class="absolute overflow-x-hidden">
      <h1 class="f-headline f-super-ns fw7 black-50 rbc tracked-tight ttu tc"></h1>
    </div>
    <div class="absolute pl3 pl0-ns">
      <h3 class="w-100 mt0 mb3">What we do.</h3>
      <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu">Les Picker</h2>
      <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu white-80">Fine Art Photography</h2>
      <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu white-60">Prints</h2>
      <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu white-50">Tours</h2>
      <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu white-40">Education</h2>
      <span class="db w4 mt3 bb bw2 b--dark-red"></span>
      <h2 class="w-100 mb0 mt3 f2 rbc fw7 ttu white-40">
        <label id="search-icon" class="hover-dark-red dib mr3 white-40" for="modal-toggle">
          <svg id="Capa_1" enable-background="new 0 0 515.558 515.558" height="24" viewBox="0 0 515.558 515.558" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m378.344 332.78c25.37-34.645 40.545-77.2 40.545-123.333 0-115.484-93.961-209.445-209.445-209.445s-209.444 93.961-209.444 209.445 93.961 209.445 209.445 209.445c46.133 0 88.692-15.177 123.337-40.547l137.212 137.212 45.564-45.564c0-.001-137.214-137.213-137.214-137.213zm-168.899 21.667c-79.958 0-145-65.042-145-145s65.042-145 145-145 145 65.042 145 145-65.043 145-145 145z"/></svg>        
          Search
        </label>
      </h2>
    </div>
  </section>

  <section class="flex flex-wrap relative overflow-hidden items-center justify-center center pt6 ph2 ph0-ns">
    <h1 class="mt0 mb4 w-100 f1 f-subheadline-ns fw7 near-black tc ttu">Workshops &amp; Tours</h1>
    <blockquote class="measure f4 f2-ns fw3 ma0 pl4 bl bw1">As a photographic counselor, Les provides guidance on “seeing the picture” as well as how to capture it with the equipment at hand. He brings a point of view, but encourages each person to develop their own perspective and priorities. The Yukon offers spectacular scenery, wildlife, and flora. Les always has a plan and a back-up plan in the quest to find dramatic photo opportunities.
      <cite class="db measure cite f5 f3-ns fw5 mt3 black-30">Tom Wilson, Yukon Photo Adventure</cite></blockquote>
  </section>

  {{ partial "workshop-tours-summary" . }}

  <section class="relative flex flex-wrap items-center justify-center bg-black-90 white pv6 min-vh-100">
    <div class="tc">
    <h2 class="dn-l mt0 mb2 ph3 pv2 white f2 fw7 ttu tc">Videos</h2>
    <div class="dn w-100 flex-l items-stretch mw9 mb5 center">
      <div class="w-60 lh-title">
        <h2 class="dib mt0 mb2 ph3 pv2 white f2 fw7 ttu tc">Latest Video</h2>
      </div>
      <div class="ml2 w-40 lh-title">
        <h2 class="dib mt0 mb2 ph3 pv2 white f2 fw7 ttu tc">Previous Videos</h2>
      </div>
    </div>
    <div class="flex flex-wrap flex-nowrap-l items-stretch mw9 ph2 ph0-l">
      {{ range first 1 (where .Site.RegularPages "Section" "events") }}
      <div class="w-100 w-60-l min-vh-50 mb2 cover bg-center" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{ .Params.image }}'); background-position:
      center center; background-size: cover;">
        <article class="flex flex-wrap flex-nowrap-l ph4 pv4">
        <header class="mt4 mt0-l">
          <h1 class="mt0 mb1 f3 fw7 lh-solid">{{ .Title | plainify }}</h1>
          <h2 class="mt0 mb2 f5 fw7 lh-solid">{{ .Params.location }} / {{ dateFormat "Jan 02, 2006" .Params.event_date }}</h2>
          <p class="tl">{{ .Summary }}</p>
          <a href="{{ .Params.event_link }}" target="_blank" class="f6 link  br2 ba ph3 pv2 mb2 dib white hover-black hover-bg-white b--white ttu">Watch Video</a>
        </header>
        </article>
      </div>
      {{ end }}
      <div class="ml0 ml2-l w-100 w-40-l mt5 mt0-l">
        <div class="">
          {{ range after 1 (where .Site.RegularPages "Section" "events") }}
          <article class="flex justify-end items-stretch mb4">
            <aside class="w-40 white f1 fw9 tc">
              <div class="relative vcenter">
                <span class="db f3 fw5">{{ dateFormat "January" .Params.event_date }}</span>{{ dateFormat "02" .Params.event_date }}
              </div>
            </aside>
            <header class="ma3 w-60">
              <h2 class="mt0 mb3 f3 lh-solid">{{ .Title | plainify }}</h2>
              {{/*<h3 class="mt0 mb3 f6 lh-solid">{{ .Params.location }}</h3>*/}}
              <a href="{{ .Params.event_link }}" target="_blank" class="f6 link br2 ba ph3 pv2 mb2 dib dark-red hover-white hover-bg-dark-red b--dark-red ttu">Watch Video</a>
            </header>
          </article>
          {{ end }}
        </div>
      </div>
    </div>
    </div>
  </section>

  {{ partial "big-block" (dict "img" "/images/bli/gallery/canada-port/canada-port-2.jpg" "subtitle" "Travel" "title" "Some of my favorite places on earth.<br><span class=\"dark-red fw7\">Bold landscapes</span><br> &amp; amazing wildlife." "sideline" "Travel | Adventure | Wildlife" "button" "Let's Start" "bnlink" "/destination") }}

  {{ partial "big-block" (dict "img" "/images/DSCF0649.jpg" "subtitle" "Reviews" "title" "<span class=\"dark-red\">The low-down on everything photographic.<br><span class=\"white fw7\">My take on photo and travel gear.</span></span>" "sideline" "Cameras | Lenses | Travel Gear" "sidecolor" "dark-red" "button" "Read More" "bcolor" "white" "bnlink" "/categories/reviews") }}

  {{ partial "big-block" (dict "img" "/images/lpfa-boat-yukon.jpg" "subtitle" "Blog" "title" "<span class=\"\">The latest<span class=\"white fw7\"> from Les.</span></span>" "sideline" "Cameras | Lenses | Travel Gear" "sidecolor" "dark-red" "button" "Read More" "bcolor" "white" "bnlink" "/news") }}

  {{ partial "big-block" (dict "img" "/images/DSCF7409.jpg" "subtitle" "Enhance Your Business" "title" "<span class=\"white\">Custom artwork <span class=\"white fw7\">to fit any environment.</span></span>" "sideline" "Full Service | Art | Design" "sidecolor" "white" "button" "Free Consultation" "bcolor" "white" "bnlink" "/corporate-art-installations") }}

  {{ partial "big-block" (dict "img" "/images/moraine-color.jpg" "subtitle" "Enhance Your Home" "title" "<span class=\"white\">Artwork <span class=\"white fw7\">inpired by the natural world.</span></span>" "sideline" "Home | Art | Decor" "sidecolor" "white" "button" "Free Consultation" "bcolor" "white" "bnlink" "/residential-art-installations") }}

  <section class="flex flex-wrap relative overflow-hidden items-center justify-center vh-100 center bg-black-90">
    <h2 class="absolute mv0 f-headline f-super-ns fw9 lh-solid black tc ttu">Get In<br>Touch</h2>
    <div class="relative tc">
      <h2 class="mv0 mh2 mh0-ns f1 f-subheadline-ns fw3 lh-title white tc">Have a question about<br> workshops, tours, or prints?<br><span class="fw7 dark-red">Feel free to reach out.</span></h2>
      <a href="mailto:les@lesterpickerphoto.com" class="dib mt4 link w-auto-ns bg-transparent dark-red f5 pv2 pv3-ns ph4 ba b--dark-red dim ttu">Contact Us</a>
    </div>
    <div class="sideline absolute top-200 left-0 inline-flex items-center">
      <span class="bar dib mr2 bg-dark-red"></span>
      <h3 class="mv3 f6 fw5 tracked-mega dark-red ttu nowrap">A More Rewarding Creative Experience</h3>
    </div>  
  </section>

  {{ partial "corner-ribbon" . }}
    
  {{ partial "sticky-footer" . }}

{{ end }}

