{{ define "main" }}
  <script type="text/javascript">
    new WOW().init();
  </script>

  <section id="home" class="relative flex items-center justify-center vh-100 w-100 bg-top bg-fixed cover lh-solid white" style="background-image: url('{{ .Params.image }}')">
    <div class="absolute overflow-x-hidden">
      <h1 class="f-headline f-super-ns fw7 black-50 rbc tracked-tight ttu tc"></h1>
    </div>
    <div class="absolute pl3 pl0-ns">
      <h3 class="w-100 mt0 mb3">What we do.</h3>
      <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu">Les Picker</h2>
      <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu white-80">Fine Art Photography</h2>
      <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu white-60">Prints</h2>
      <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu white-50">Tours</h2>
      <h2 class="w-100 mv0 f2 f-subheadline-ns rbc fw7 ttu white-40">Education</h2>
      <span class="db w4 mt3 bb bw2 b--dark-red"></span>
    </div>
  </section>

  <section class="relative flex flex-wrap items-center justify-center bg-black-90 white pv6 min-vh-100">
    <div class="">
    <h2 class="dn-l mt0 mb2 ph3 pv2 white f2 fw7 ttu tc">Upcoming Events</h2>
    <div class="dn w-100 flex-l items-stretch mw9 mb5 center">
      <div class="w-60 lh-title">
        <h2 class="dib mt0 mb2 ph3 pv2 white f2 fw7 ttu tc">Featured Event</h2>
      </div>
      <div class="ml2 w-40 lh-title">
        <h2 class="dib mt0 mb2 ph3 pv2 white f2 fw7 ttu tc">Upcoming Events</h2>
      </div>
    </div>
    <div class="flex flex-wrap flex-nowrap-l items-stretch mw9 ph2 ph0-l">
      {{ range first 1 (where (where .Data.Pages "Section" "events") "Params.featured" "feature") }}
      <div class="w-100 w-60-l mb2 cover bg-center" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{{ .Params.image }}'); background-position:
      center center; background-size: cover;">
        <article class="flex flex-wrap flex-nowrap-l ph4 pv4">
        <header class="mt4 mt0-l">
          <h1 class="mt0 mb1 f3 fw7 lh-solid">{{ .Title | plainify }}</h1>
          <h2 class="mt0 mb2 f5 fw7 lh-solid">{{ .Params.location }} / {{ dateFormat "Jan 02, 2006" .Params.event_date }}</h2>
          <p class="">{{ .Summary }}</p>
          <a href="{{ .Permalink }}" class="f6 link  br2 ba ph3 pv2 mb2 dib white hover-black hover-bg-white b--white ttu">More Info</a>
        </header>
        </article>
      </div>
      {{ end }}
      <div class="ml0 ml2-l w-100 w-40-l mt5 mt0-l">
        <div class="">
          {{ range first 3 (where (where (.Data.Pages.ByParam "event_date") "Section" "events") "Params.featured" "ne" "feature") }}
          <article class="flex justify-end items-stretch mb4">
            <aside class="w-40 white f1 fw9 tc">
              <div class="relative vcenter">
                <span class="db f3 fw5">{{ dateFormat "January" .Params.event_date }}</span>{{ dateFormat "02" .Params.event_date }}
              </div>
            </aside>
            <header class="ma3 w-60">
              <h2 class="mt0 mb1 f3 lh-solid">{{ .Title | plainify }}</h2>
              <h3 class="mt0 mb3 f6 lh-solid">{{ .Params.location }}</h3>
              <a href="{{ .Permalink }}" class="f6 link br2 ba ph3 pv2 mb2 dib dark-red hover-white hover-bg-dark-red b--dark-red ttu">More Info</a>
            </header>
          </article>
          {{ end }}
        </div>
      </div>
    </div>
    </div>
  </section>

  {{ partial "big-block" (dict "img" "/images/bli/gallery/canada-port/canada-port-2.jpg" "subtitle" "Travel" "title" "Some of my favorite places on earth.<br><span class=\"dark-red fw7\">Bold landscapes</span><br> &amp; amazing wildlife." "sideline" "Travel | Adventure | Wildlife" "button" "Let's Start" "bnlink" "/destination") }}

  {{ partial "workshop-tours-summary" . }}

  {{ partial "big-block" (dict "img" "/images/bli/2018/09/DSC_4581.jpg" "subtitle" "Gear Reviews" "title" "<span class=\"dark-red\">The low-down on everything photographic.<br><span class=\"white fw7\">My take on photo and travel gear.</span></span>" "sideline" "Cameras | Lenses | Travel Gear" "sidecolor" "dark-red" "button" "Read More" "bcolor" "white" "bnlink" "/categories/reviews") }}

  <section class="flex flex-wrap relative overflow-hidden items-center justify-center vh-100 center bg-black-90">
    <h2 class="absolute mv0 f-headline f-super-ns fw9 lh-solid black tc ttu">Get In<br>Touch</h2>
    <div class="relative tc">
      <h2 class="mv0 mh2 mh0-ns f1 f-subheadline-ns fw3 lh-title white tc">Have an idea? Reach out <br>and let's <span class="fw7 dark-red">work together.</span></h2>
      <a href="mailto:info@cdox.cc" class="dib mt4 link w-auto-ns bg-transparent dark-red f5 pv2 pv3-ns ph4 ba b--dark-red dim ttu">Let's Start</a>
    </div>
    <div class="sideline absolute top-200 left-0 inline-flex items-center">
      <span class="bar dib mr2 bg-dark-red"></span>
      <h3 class="mv3 f6 fw5 tracked-mega dark-red ttu nowrap">A More Rewarding Creative Experience</h3>
    </div>  
  </section>
    
  {{ partial "big-block" (dict "img" "/images/DSC_5782.jpg" "subtitle" "<span class=\"white-50\">Creative Geeks</span>" "title" "<span class=\"dark-red\">We are creative geeks.<br>We love to <span class=\"white fw7\">Play</span><br> and extend concepts.</span>" "sideline" "Fashion | Concept Development" "sidecolor" "blue" "button" "Get In Touch" "bcolor" "white" "bg" "bg-right") }}

  {{ partial "sticky-footer" . }}

{{ end }}
