/* callendar widget */
#wp-calendar {
	empty-cells: show;
	width:100%;
}

#wp-calendar th, #wp-calendar td { text-align:center; }

#wp-calendar th { font-weight:bold; }

#wp-calendar #today {
	background-color:#b9aa8e;
	border:1px solid #c0ac88;
}

#wp-calendar #next { text-align:right !important; }
#wp-calendar #prev { text-align:left !important; }

#wp-calendar a { color:#bb0c0c; }

#wp-calendar a:hover { color:#d29b38; }

/* search widget */
.search-fix #searchform {
	position:relative;
	width:321px;
	height:33px;
}

.search-fix input {
	position:absolute;
	top:0;
}

.search-fix #s {
	background:#e8e8e8;
	padding:5px;
	height:21px;
	width:242px;
	border:1px solid #cfcfcf;
	left:0;
}

.search-fix #searchsubmit {
	background:#9c9c9c url(../images/search-button-bg.png) repeat-x 0 0;
	right:0;
	padding:5px 10px;
	height:33px;
	width:67px;
	border-color:#9d9d9d #4d4d4d #4d4d4d #9d9d9d;
	border-style:solid;
	border-width:1px;
	font:normal 16px 'Trebuchet MS';
	color:#fff;
}

