{{ define "main" }}

<section class="relative mw9 ph4 ph5-ns mb5 center">
  {{ if isset .Params "sideline" }}
    {{ partial "sideline" (dict "sideline" .Params.sideline (cond (isset .Params "sidecolor") "sidecolor" "") .Params.sidecolor) }}
  {{ end }}

  {{ $img := .Resources.GetMatch (.Params.image | default "/wtf") }}
  {{ if $img }}
    {{ $.Scratch.Set "img" $img.RelPermalink }}
  {{ else }}
    {{ $.Scratch.Set "img" .Params.image }}
  {{ end }}

  <div class="flex flex-wrap-reverse justify-between">
  <article class="mv0 w-100 w-70-ns">
    <header class="lh-title">
      <img class="" src="{{($.Scratch.Get "img")}}" alt="{{.Title | plainify}}">
      <h1 class="mt2 mb2 f1 fw3">{{ .Title | plainify }}</h1>
      {{ if isset .Params "subtitle" }}
      <h2 class="mt0 mb4 f3 fw1">{{ .Params.subtitle | safeHTML }}</h2>
      {{ end }}
    </header>
    <div class="content mb5">
      {{ .Content }}
    </div>
    <div class="w-100 w-50-ns">
    {{ with .Params.product }}
      {{ partial "slab-stat-product" . }}
    {{ end }}
    {{ partial "product-buy-button.html" . }}
    </div>
  </article>
  <aside class="w-100 w-30-ns mb4 mb0-ns lh-solid tr">
    {{ with .Params.product.event_date }}
    <time class="f-subheadline fw3 tr"><span class="f2">{{ dateFormat "2006" . }}</span><br>{{ dateFormat "01" . }}<span class="fw7">{{ dateFormat "02" . }}</span></time>
    {{ else }}
    <time class="f-subheadline fw3 tr"><span class="f2">{{ dateFormat "2006" .Date }}</span><br>{{ dateFormat "01" .Date }}<span class="fw7">{{ dateFormat "02" .Date }}</span></time>
    {{ end }}
    <div class="ml0 ml4-l">
      {{ with .Params.product }}
        {{ partial "slab-stat-product" . }}
      {{ end }}
      <div class="db">
      {{ partial "product-buy-button.html" . }}
      </div>
    </div>
  </aside>
  </div>
</section>

{{ partial "cart" . }}
{{ end }}
