/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.invertedshiftdown2{
	padding: 0px;
	width: 100%; /*Highlight red color theme*/
	background: transparent;
	voice-family: "\"}\"";
	voice-family: inherit;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #000000;
	margin: 0px;
	clear: both;
	height: auto;
}

.invertedshiftdown2 ul{
	margin:0px; /*margin between first menu item and left browser edge*/
	padding: 0px;
	list-style: none;
	clear: both;
	height: auto;
	width: 100%;
}

.invertedshiftdown2 li{
	display: inline;
	padding: 0;
	text-transform:uppercase;
	margin-top: 0;
	margin-right: 2px;
	margin-bottom: 0;
	margin-left: 0;
}

.invertedshiftdown2 a{
	float: left;
	display: block;
	color: black;
	text-decoration: none; /*Padding within each menu item*/
	background-color: #ECE9D8;
	margin-top: 0px;
	margin-right: 1px;
	margin-left: 0px;
	padding-top: 7px;
	padding-right: 12px;
	padding-bottom: 7px;
	padding-left: 12px;
	margin-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-style: none;
	font-size: 12px;
	font-weight: bold;
	width: auto;
	height: auto;
}

.invertedshiftdown2 a:hover{
	padding-top: 15px; /*Set padding-top value to default's padding-top + padding-bottom */
	padding-bottom: 15px; /*Set padding-bottom value to 0 */
	border-bottom-color: #D10000; /*Highlight red color theme*/
	color: white;
	background-image: url(../images/nav-a.png);
	background-repeat: repeat-x;
	background-position: left top;
}

.invertedshiftdown2 ul li.current_page_item a, .invertedshiftdown2 ul li#home a { /** currently selected menu item **/
	padding-top: 15px; /*Set padding-top value to default's padding-top + padding-bottom */
	padding-bottom: 15px; /*Highlight red color theme*/
	color: white;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-width: 0px;
	border-top-style: none;
	background-image: url(../images/nav-a.png);
	background-repeat: repeat-x;
	background-position: left top;
	display: block;
}

#myform{ /*CSS for sample search box. Remove if desired */
float: right;
margin: 0;
margin-top: 2px;
padding: 0;
}

#myform .textinput{
width: 190px;
border: 1px solid gray;
}

#myform .submit{
font: normal 12px Verdana;
height: 22px;
border: 1px solid #D10000;
background-color: black;
color: white;
}
